table {
    
    margin: 20px;
    border: solid 4px;
    border-collapse: collapse;
}

tr, td {
    border: solid 1px;
    margin: 0;
}

td {
    
    align-content: center;
}
th {
    border: solid 4px;
    margin: 0;
    background: #0399ff;
    align-content: center;
}

tr:hover {
    background-color: azure;
}

tr:nth-child(odd) {
  background: #03e1f0;
    
}
