<h1>Welcome to my Wiki Page</h1>
<p>Hello there and welcome to this wiki page, this is here as part of a process I have been undertaking with aim to build a website for myself to supprot the tracking and completion of student grades in the vocational courses. If I can pull this off it would mean that I know longer have to spend countless hours tracking students through spreadsheets and meetings. I will be able to quickly identify students who are not performing and put in plans to ensure they are completing their work properly. I will also be able to identfy areas of improvement both in teachign and learnging for staff and students</p>

<p>To view an item just put in the /name at the end of the url above</p>

<p>or you can <a href="/new">create a new page</a></p>